In [36]:
import numpy as np
import pandas as pd

## Datos

In [37]:
X = np.array([
    [2, 5, 2, 4],
    [3.20, 6, 3, 4],
    [1.50, 3, 2, 2],
    [0.80, 2, 0, 1],
    [4, 3, 3, 4],
])

y = np.array([
    3.5,
    4.7,
    2.4,
    1.5,
    6.0,
    0  # Valor agregado para que coincida con el tamaño de K_df
])

## Matriz Kernel

\begin{bmatrix}
K + \frac{1}{gamma}I & 1 \\
1^T & 0 \\
\end{bmatrix}

Esto multiplicado por 

\begin{bmatrix}
\alpha \\
b \\
\end{bmatrix}

Es igual a 
\begin{bmatrix}
Y \\
0 \\
\end{bmatrix}

Se multiplica casa por casa, analiza cuanto se parecen, mientras más alto más se parecen las casas.

In [38]:
# Calcular K y modificar la diagonal
gamma = 1
K = np.dot(X, X.T)
np.fill_diagonal(K, K.diagonal() + (1/gamma))

# Convertir K en DataFrame y agregar fila y columna de unos
K_df = pd.DataFrame(K)
K_df['ones'] = 1
K_df.loc[len(K_df)] = [1] * (K_df.shape[1])
K_df.at[5, 'ones'] = 0  # Ajuste en la posición correcta
K_df

      0      1      2      3     4  ones
0  50.0  58.40  30.00  15.60  45.0     1
1  58.4  72.24  36.80  18.56  55.8     1
2  30.0  36.80  20.25   9.20  29.0     1
3  15.6  18.56   9.20   6.64  13.2     1
4  45.0  55.80  29.00  13.20  51.0     1
5   1.0   1.00   1.00   1.00   1.0     0

In [39]:
sol = np.linalg.solve(K_df, y)
sol

array([-0.12978214,  0.06053108, -0.30878595,  0.06768309,  0.31035393,
        0.69588783])

In [40]:
alphas = sol[:-1]
b = sol[-1]
alphas, b

(array([-0.12978214,  0.06053108, -0.30878595,  0.06768309,  0.31035393]),
 0.6958878293317244)

In [41]:
# Nueva casa
x_new = np.array([250, 5, 3, 3])

$\hat y = w^T X + b$

In [42]:
# vector w para el modelo
w = np.dot(alphas, X)

# calculo del precio de la nueva casa (predicción)
y_hat = np.dot(w, x_new) + b

y_hat

193.54734461573247

In [43]:
## Kernel polinomial
K = np.dot(X, X.T)
K_df_lineal = pd.DataFrame(K)
K_df_lineal

K_pol = K_df_lineal + 1
K_pol = K_pol ** 2
K_pol

         0          1          2         3        4
0  2500.00  3528.3600   961.0000  275.5600  2116.00
1  3528.36  5218.6176  1428.8400  382.5936  3226.24
2   961.00  1428.8400   410.0625  104.0400   900.00
3   275.56   382.5936   104.0400   44.0896   201.64
4  2116.00  3226.2400   900.0000  201.6400  2601.00