In [1]:
import numpy as np
import pandas as pd

## Datos

In [2]:
X = np.array([
    [200, 5, 2, 4],
    [320, 6, 3, 4],
    [150, 3, 2, 2],
    [80, 2, 0, 1],
    [400, 3, 3, 4],
])

y = np.array([
    3.5,
    4.7,
    2.4,
    1.5,
    6.0,
    0  # Valor agregado para que coincida con el tamaño de K_df
])

## Matriz Kernel

\begin{bmatrix}
K + \frac{1}{gamma}I & 1 \\
1^T & 0 \\
\end{bmatrix}

Esto multiplicado por 

\begin{bmatrix}
\alpha \\
b \\
\end{bmatrix}

Es igual a 
\begin{bmatrix}
Y \\
0 \\
\end{bmatrix}

Se multiplica casa por casa, analiza cuanto se parecen, mientras más alto más se parecen las casas.

In [3]:
# Calcular K y modificar la diagonal
gamma = 1
K = np.dot(X, X.T)
np.fill_diagonal(K, K.diagonal() + (1/gamma))

# Convertir K en DataFrame y agregar fila y columna de unos
K_df = pd.DataFrame(K)
K_df['ones'] = 1
K_df.loc[len(K_df)] = [1] * (K_df.shape[1])
K_df.at[5, 'ones'] = 0  # Ajuste en la posición correcta
K_df

       0       1      2      3       4  ones
0  40046   64052  30027  16014   80037     1
1  64052  102462  48032  25616  128043     1
2  30027   48032  22518  12008   60023     1
3  16014   25616  12008   6406   32010     1
4  80037  128043  60023  32010  160035     1
5      1       1      1      1       1     0

In [4]:
sol = np.linalg.solve(K_df, y)
sol

array([ 0.14508433, -0.11460348, -0.06005986, -0.01514511,  0.04472413,
        0.40140098])

In [5]:
alphas = sol[:-1]
b = sol[-1]
alphas, b

(array([ 0.14508433, -0.11460348, -0.06005986, -0.01514511,  0.04472413]),
 0.40140097559367055)

In [6]:
# Nueva casa
x_new = np.array([250, 5, 3, 3])

$\hat y = w^T X + b$

In [7]:
# vector w para el modelo
w = np.dot(alphas, X)

# calculo del precio de la nueva casa (predicción)
y_hat = np.dot(w, x_new) + b

y_hat

3.7905104763035973

In [15]:
## Kernel polinomial

K = np.dot(X, X.T)
K_df_lineal = pd.DataFrame(K)
K_df_lineal

K_df_pol = K_df_lineal + 1
K_df_pol = K_df_pol ** 2
K_df_pol

            0            1           2           3            4
0  1603682116   4102786809   901680784   256480225   6406081444
1  4102786809  10498461444  2307169089   656230689  16395265936
2   901680784   2307169089   507060324   144216081   3602880576
3   256480225    656230689   144216081    41036836   1024704121
4  6406081444  16395265936  3602880576  1024704121  25611201225