## Paralelización

In [22]:
import random
import numpy as np
import pandas as pd
import yfinance as yf
import scipy.optimize as opt
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from joblib import Parallel, delayed 
from IPython.display import display, Markdown

### Simulación de portafolios

In [23]:
tickers = ['AAPL', 'NVDA', 'MSFT', 'GOOGL', 'AMZN', 'TSLA', 'META', 'SPOT', 'SBUX', 'JPM', 'AXP', 'MCD', 'KO', 
           'NFLX', 'CMG', 'CP', 'WMT', 'V', 'GLD', 'BLK', 'PG', 'JNJ', 'TMUS', 'MA', 'BX', 'LULU', 'DPZ', 'BAC', 
           'FDX', 'DIS', 'GE', 'HSY', 'HP', 'COST', 'HD', 'K', 'ADBE', 'CSCO', 'T', 'F', 'NKE', 'CVX', 'XOM', 'PYPL', 
           'PEP', 'PFE', 'MRNA', 'RL', 'AZN', 'BABA', 'VZ', 'WBD', 'HSBC', 'UBER']

rf = 0.04413
f_inicial='2020-01-01'
f_final='2024-11-24'

In [ ]:
def simulate_portfolio_opt(i, tickers, rf):
    # Selección aleatoria del tamaño de la muestra y de los tickers
    sample_size = random.randint(5, 15)
    random_tickers = random.sample(tickers, sample_size)

    # Descarga de datos
    datos1 = yf.download(random_tickers, f_inicial, f_final)['Adj Close']
    rt = datos1.pct_change().dropna()

    # Calcular retornos y matriz de covarianza
    mu = (rt.mean() * 252).values  # retornos esperados
    sigma = rt.cov().values  # Matriz de covarianza
    n_assets = len(mu)

    # Función para minimizar (-Sharpe Ratio)
    def neg_sharpe_ratio(w, mu, sigma, rf):
        port_return = np.dot(w.T, mu)  # Rendimiento esperado del portafolio
        port_vol = np.sqrt(np.dot(w.T, np.dot(sigma, w))) * np.sqrt(252)  # Volatilidad del portafolio
        sharpe_ratio = (port_return - rf) / port_vol
        return -sharpe_ratio  # Negativo porque queremos maximizar

    # Restricciones: Suma de pesos = 1
    constraints = ({
        'type': 'eq',
        'fun': lambda w: np.sum(w) - 1
    })

    # Límites: Pesos entre 0 y 1 (no posiciones cortas)
    bounds = tuple((0, 1) for _ in range(n_assets))

    # Pesos iniciales (distribuidos uniformemente)
    w0 = np.array([1 / n_assets] * n_assets)

    # Optimización
    result = opt.minimize(neg_sharpe_ratio, w0, args=(mu, sigma, rf), method='SLSQP', bounds=bounds, constraints=constraints)

    # Resultados
    optimal_weights = result.x
    optimal_weights[optimal_weights < 0.000001] = 0  # Eliminar pesos numéricamente cercanos a cero

    # Cálculo del retorno, volatilidad y sharpe del portafolio
    ret = np.dot(optimal_weights.T, mu)  # Retorno esperado del portafolio
    risk = np.sqrt(np.dot(optimal_weights.T, np.dot(sigma, optimal_weights))) * np.sqrt(252)  # Volatilidad del portafolio
    sharpe = (ret - rf) / risk  # Sharpe ratio

    return ret, risk, sharpe, optimal_weights, random_tickers

# Número de simulaciones
n_simulations = 100

# Ejecutar simulaciones en paralelo
results = Parallel(n_jobs=-1)(delayed(simulate_portfolio_opt)(i, tickers, rf) for i in range(n_simulations))

# Extraer resultados
retornos_sci = [result[0] for result in results]
volatilidades_sci = [result[1] for result in results]
sharpe_ratios_sci = [result[2] for result in results]
pesos_sci = [result[3] for result in results]
selected_tickers = [result[4] for result in results]  # Guardar los tickers seleccionados

[*********************100%***********************]  5 of 5 completedd
[*********************100%***********************]  6 of 6 completedd
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  7 of 7 completedd
[*********************100%***********************]  12 of 12 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  14 of 14 completed
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  9 of 9 completeded
[*********************100%***********************]  14 of 14 completed
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  6 of 6 completed
[*********************100%***********************]  8 of 8 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  7 of 7 completedd
[*********************100%***********************]  9 of 9 completedd
[*********************100%***********************]  5 of 5 completedd
[*********************100%***********************]  6 of 6 completed
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  6 of 6 completedd
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  6 of 6 completeddd
[*********************100%***********************]  14 of 14 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  14 of 14 completed
[*********************100%***********************]  9 of 9 completedd
[*********************100%***********************]  6 of 6 completed
[*********************100%***********************]  6 of 6 completeded
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completeded
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  7 of 7 completed
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completedd
[*********************100%***********************]  5 of 5 completedd
[*********************100%***********************]  6 of 6 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  9 of 9 completeddd
[*********************100%***********************]  14 of 14 completed
[*********************100%***********************]  6 of 6 completed
[**********************70%*********              ]  7 of 10 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  6 of 6 completedd
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  6 of 6 completedd
[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  6 of 6 completedd
[*********************100%***********************]  12 of 12 completed
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  8 of 8 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  7 of 7 completedd
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  12 of 12 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  8 of 8 completedd
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  11 of 11 completed
[                       0%                       ]  5 of 5 completedd
[*********************100%***********************]  9 of 9 completedd
[*********************100%***********************]  9 of 9 completedd
[*********************100%***********************]  6 of 6 completedd
[*********************100%***********************]  8 of 8 completeded
[*********************100%***********************]  12 of 12 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  14 of 14 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  12 of 12 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  5 of 5 completedd
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  15 of 15 completed
[*********************100%***********************]  12 of 12 completed
[*********************100%***********************]  9 of 9 completeded
[*********************100%***********************]  13 of 13 completed
[*********************100%***********************]  11 of 11 completed
[*********************100%***********************]  10 of 10 completed

### Guardar métricas en un DataFrame

In [25]:
metricas_df_scipy = pd.DataFrame({
    'rendimiento': retornos_sci,
    'volatilidad': volatilidades_sci,
    'sharpe': sharpe_ratios_sci
})
metricas_df_scipy.head()

   rendimiento  volatilidad    sharpe
0     0.287332     0.282758  0.860108
1     0.475979     0.289837  1.489973
2     0.232482     0.274887  0.685200
3     0.311913     0.267954  0.999359
4     0.241334     0.340518  0.579130

### Guardar los pesos y acciones en un DataFrame

In [26]:
dataframes_dict = {}
for i in range(n_simulations):
    dataframes_dict[f"Simulación {i+1}"] = pd.DataFrame(pesos_sci[i], index=selected_tickers[i], columns=['w']).T

### Mostrar los pesos de cada activo en una simulación

In [27]:
# Elegir el número de simulación cambiando el número
dataframes_dict['Simulación 1']

,CVX,GOOGL,JNJ,NKE,HSBC,F,AZN,CMG,BAC,DPZ,NFLX,BABA
w,0.005246,0.0,0.0,0.522963,0.077273,0.0,0.0,0.123058,0.062769,0.0,0.208691,0.0

### Mostrar todos los resultados

In [28]:
for i in range(n_simulations):
    display(Markdown(f"### Simulación {i+1}"))
    display(dataframes_dict[f"Simulación {i+1}"])

### Simulación 1

,CVX,GOOGL,JNJ,NKE,HSBC,F,AZN,CMG,BAC,DPZ,NFLX,BABA
w,0.005246,0.0,0.0,0.522963,0.077273,0.0,0.0,0.123058,0.062769,0.0,0.208691,0.0

### Simulación 2

,MA,NVDA,HSBC,XOM,COST,WMT,FDX,META,JNJ,CP,VZ,V,RL,MRNA
w,0.215651,0.0,0.0,0.0,0.0,0.0,0.0,0.065091,0.39833,0.0,0.0,0.0,0.197685,0.123243

### Simulación 3

   MSFT      HSBC         F  DIS      JNJ
w   0.0  0.030375  0.140395  0.0  0.82923

### Simulación 4

    VZ  JNJ       AZN  TMUS   BX      NFLX       HSY  AMZN
w  0.0  0.0  0.326261   0.0  0.0  0.147936  0.525803   0.0

### Simulación 5

     F      UBER  NKE      SBUX  HSY        RL
w  0.0  0.180474  0.0  0.396855  0.0  0.422672

### Simulación 6

,NKE,UBER,NFLX,TSLA,F,PEP,LULU,ADBE,AMZN,AZN,HSBC,WBD,MA,AAPL,KO
w,0.325251,0.0,0.0,0.010548,0.0,0.029735,0.0,0.0,0.0,0.129389,0.0,0.0,0.484479,0.020598,0.0

### Simulación 7

       COST         V        HP  AAPL        MA      SPOT  NFLX
w  0.085574  0.744839  0.005816   0.0  0.035248  0.128523   0.0

### Simulación 8

,DPZ,MCD,TMUS,META,K,HSY,WBD,T,BLK,MA,BX
w,0.0,0.299584,0.013144,0.0,0.082423,0.0,0.0,0.105097,0.0,0.499752,0.0

### Simulación 9

,PEP,JNJ,XOM,SPOT,DIS,LULU,GE,FDX,JPM,MRNA,MSFT,UBER,MCD,HSBC
w,0.0,0.0,0.260507,0.0,0.0,0.0,0.0,0.0,0.148509,0.233803,0.0,0.178852,0.013399,0.16493

### Simulación 10

,AZN,MA,JPM,MCD,BLK,CVX,K,HSY,TMUS,DPZ,PYPL,VZ,NKE,LULU,T
w,0.0,0.103395,0.0,0.089417,0.0,0.074426,0.0876,0.0,0.0,0.0,0.0,0.0,0.0,0.645161,0.0

### Simulación 11

       TMUS   PG       PFE   HD  XOM  JNJ         K   KO       VZ
w  0.115229  0.0  0.067292  0.0  0.0  0.0  0.624409  0.0  0.19307

### Simulación 12

,AMZN,TSLA,BABA,NKE,GOOGL,PFE,F,SPOT,COST,BX,DIS
w,0.0,0.0,0.100209,0.620835,0.0,0.0,0.0,0.0,0.0,0.044372,0.234583

### Simulación 13

,NVDA,LULU,VZ,MRNA,XOM,AAPL,ADBE,NKE,T,PFE,BAC,V,UBER
w,0.0,0.0,0.0,0.0,0.104055,0.0,0.669855,0.0,0.0,0.0,0.0,0.0,0.22609

### Simulación 14

,PFE,WBD,PG,MA,DIS,HSBC,K,HD,AMZN,JNJ,CMG
w,0.048001,0.505417,0.0,0.088507,0.046193,0.0,0.311882,0.0,0.0,0.0,0.0

### Simulación 15

,WBD,META,FDX,GE,K,MA,NFLX,V,BAC,UBER,JPM,AXP,DIS
w,0.06294,0.0,0.0,0.010649,0.290553,0.0,0.246723,0.0,0.109973,0.209076,0.070086,0.0,0.0

### Simulación 16

        XOM      AAPL  WBD   VZ  BLK  PEP  SBUX      CSCO
w  0.663097  0.046817  0.0  0.0  0.0  0.0   0.0  0.290086

### Simulación 17

   HSY  LULU  JNJ  GOOGL  FDX  NVDA        PG      HSBC
w  0.0   0.0  0.0    0.0  0.0   0.0  0.936268  0.063732

### Simulación 18

       AAPL   HP       PFE  HSBC      UBER       WMT
w  0.324718  0.0  0.003682   0.0  0.123958  0.547641

### Simulación 19

         GE     GOOGL      MRNA  PFE     AAPL   MA   RL
w  0.458985  0.349094  0.028751  0.0  0.16317  0.0  0.0

### Simulación 20

        PEP  SPOT   CP   BX  UBER         V       HSY   HP
w  0.656977   0.0  0.0  0.0   0.0  0.287241  0.055782  0.0

### Simulación 21

         CP      UBER  CMG  MRNA       MCD       BLK
w  0.190847  0.575096  0.0   0.0  0.183652  0.050406

### Simulación 22

,HP,HD,MCD,PG,AXP,CVX,SPOT,NVDA,AZN,HSBC,GE,GLD,LULU,TMUS,UBER
w,0.0,0.0,0.0,0.078062,0.370388,0.0,0.0,0.0,0.0,0.0,0.354117,0.0,0.0,0.197434,0.0

### Simulación 23

    CP  JNJ    T  TSLA      NFLX  UBER       DIS       WMT         F
w  0.0  0.0  0.0   0.0  0.058478   0.0  0.308896  0.038459  0.594167

### Simulación 24

,HP,WBD,XOM,CP,CSCO,MA,BX,NFLX,NKE,PG,COST,WMT,BLK,LULU
w,0.0,0.145927,0.519633,0.0,0.0,0.0,0.0,0.0,0.067314,0.0,0.0,0.0,0.141429,0.125697

### Simulación 25

   BABA  HSBC      UBER      WMT   PG       DPZ       DIS
w   0.0   0.0  0.050676  0.06111  0.0  0.179762  0.708452

### Simulación 26

   ADBE     CSCO   HP       GLD       BAC  GOOGL
w   0.0  0.05174  0.0  0.629639  0.318621    0.0

### Simulación 27

,PFE,UBER,FDX,SBUX,SPOT,BAC,KO,MA,GOOGL,HP,JPM,TMUS,V
w,0.0,0.055862,0.052514,0.0,0.040453,0.0,0.0,0.0,0.0,0.209479,0.608144,0.033548,0.0

### Simulación 28

,BLK,AAPL,V,UBER,T,HP,HSBC,F,WMT,GLD,AZN,LULU,FDX,CMG,SBUX
w,0.120756,0.0,0.0,0.185501,0.0,0.016878,0.339383,0.0,0.0,0.0,0.0,0.0,0.026281,0.0,0.3112

### Simulación 29

,NKE,AMZN,TMUS,MRNA,HSBC,BLK,HP,COST,RL,BABA,HD,XOM,JNJ,GE,F
w,0.0,0.0,0.0,0.49915,0.0,0.127989,0.0,0.0,0.0,0.0,0.088267,0.0,0.0,0.225163,0.059431

### Simulación 30

    KO       MA  HSBC  BABA   BX  NKE  TMUS      HSY   VZ
w  0.0  0.39852   0.0   0.0  0.0  0.0   0.0  0.60148  0.0

### Simulación 31

        XOM    V        KO   HD      META
w  0.289636  0.0  0.332115  0.0  0.378249

### Simulación 32

,JNJ,BX,GLD,CVX,GOOGL,SPOT,HSY,F,HP,NVDA,NFLX,MSFT,VZ
w,0.052956,0.0,0.0,0.461521,0.0,0.0,0.0,0.0,0.0,0.0,0.485523,0.0,0.0

### Simulación 33

,WMT,LULU,ADBE,DPZ,BAC,NVDA,UBER,CMG,VZ,BX,JNJ,PEP,CVX,AAPL
w,0.0,0.0,0.0,0.024183,0.028422,0.0,0.0,0.0,0.0,0.531316,0.0,0.0,0.0,0.416078

### Simulación 34

         PG  GOOGL   MA  TMUS      LULU
w  0.268232    0.0  0.0   0.0  0.731768

### Simulación 35

,HD,TMUS,TSLA,CSCO,GLD,PEP,WMT,KO,GE,XOM,BX
w,0.038722,0.0,0.086375,0.321398,0.0,0.0,0.0,0.165217,0.149133,0.231069,0.008087

### Simulación 36

         PG       DPZ       AXP  WMT      NFLX
w  0.220924  0.033733  0.187291  0.0  0.558052

### Simulación 37

        BAC  MCD  AXP        GE  LULU   CP
w  0.333568  0.0  0.0  0.666432   0.0  0.0

### Simulación 38

   BLK   CP  SPOT  NVDA   MA   HD
w  0.0  0.0   0.0   0.0  1.0  0.0

### Simulación 39

,BX,JPM,HSBC,VZ,AMZN,DPZ,HD,PG,MA,LULU,AXP
w,0.065008,0.121268,0.617443,0.106466,0.0,0.0,0.0,0.0,0.0,0.089815,0.0

### Simulación 40

    MA        GE      HSBC  LULU  TMUS  COST      NVDA       AXP
w  0.0  0.305778  0.078879   0.0   0.0   0.0  0.419926  0.195417

### Simulación 41

   BABA  SBUX      ADBE        HP    V      META
w   0.0   0.0  0.110586  0.696665  0.0  0.192749

### Simulación 42

   NKE  DIS        CP        GE  FDX        PG
w  0.0  0.0  0.186271  0.530851  0.0  0.282878

### Simulación 43

        PFE  META        GE      AAPL      MRNA   CP       XOM
w  0.362016   0.0  0.260423  0.086892  0.152382  0.0  0.138287

### Simulación 44

,F,FDX,BABA,VZ,GLD,NVDA,KO,PFE,PYPL,NKE,META,WBD,TMUS
w,0.0,0.0,0.0,0.378555,0.0,0.0,0.0,0.38793,0.0,0.0,0.233515,0.0,0.0

### Simulación 45

    HP  HSY      MSFT  MRNA      NVDA
w  0.0  0.0  0.125692   0.0  0.874308

### Simulación 46

   COST       GLD      MSFT    GOOGL  AMZN  JNJ         T        KO   VZ  MRNA
w   0.0  0.534931  0.364826  0.01594   0.0  0.0  0.075059  0.009244  0.0   0.0

### Simulación 47

,PFE,UBER,RL,AXP,GLD,TMUS,SPOT,HSY,GE,JNJ,GOOGL,WBD,WMT,XOM
w,0.0,0.117975,0.326518,0.0,0.0,0.0,0.0,0.0,0.088539,0.212996,0.001313,0.0,0.23922,0.013439

### Simulación 48

        WBD       DPZ      PYPL      ADBE  CVX    K
w  0.143679  0.254603  0.263036  0.338682  0.0  0.0

### Simulación 49

        MCD  XOM  CSCO   KO  JNJ  WBD   CP  NKE       CMG
w  0.648391  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.351609

### Simulación 50

,DPZ,ADBE,AAPL,COST,RL,CMG,PFE,CP,BABA,HP,UBER,MRNA
w,0.012221,0.0,0.0,0.210135,0.632226,0.0,0.0,0.0,0.093808,0.0,0.022667,0.028943

### Simulación 51

         GE       XOM  UBER        PG        T
w  0.368141  0.290865   0.0  0.174845  0.16615

### Simulación 52

,CP,COST,AAPL,NFLX,TSLA,BAC,HSY,CMG,RL,KO,MSFT,GOOGL,K,NVDA,HP
w,0.0,0.0,0.0,0.28368,0.0,0.0,0.0,0.0,0.179507,0.0,0.0,0.0,0.395669,0.0,0.141144

### Simulación 53

         CP      CSCO  LULU  MRNA       CMG
w  0.777879  0.001285   0.0   0.0  0.220837

### Simulación 54

       COST  GOOGL        CP   RL      PYPL  WBD
w  0.870139    0.0  0.055688  0.0  0.074173  0.0

### Simulación 55

   SPOT      COST      BABA  MRNA      MSFT    V
w   0.0  0.767095  0.099604   0.0  0.133301  0.0

### Simulación 56

       HSBC  DIS      WMT     AMZN  LULU         F
w  0.168609  0.0  0.04127  0.09794   0.0  0.692181

### Simulación 57

        GE       MCD  BLK      ADBE  DIS
w  0.02228  0.371775  0.0  0.605945  0.0

### Simulación 58

,JNJ,AXP,DIS,XOM,WMT,CP,ADBE,JPM,SPOT,CSCO,GLD,HD
w,0.0,0.086251,0.0,0.0,0.0,0.360081,0.0,0.0,0.0,0.127519,0.342887,0.083262

### Simulación 59

        HSY  NFLX       DIS         F  BLK       GLD
w  0.230884   0.0  0.009497  0.574243  0.0  0.185375

### Simulación 60

        XOM      AAPL  FDX  CVX       BX  META     SBUX
w  0.366429  0.367481  0.0  0.0  0.07454   0.0  0.19155

### Simulación 61

   ADBE       PFE  DIS    V  COST   CP      SPOT    F
w   0.0  0.838512  0.0  0.0   0.0  0.0  0.161488  0.0

### Simulación 62

        JNJ      PYPL    K       PFE   BX      AAPL  GLD  LULU   PG    F
w  0.214453  0.235141  0.0  0.471932  0.0  0.078475  0.0   0.0  0.0  0.0

### Simulación 63

   FDX         T       NKE        HP      SBUX   CP  HSBC  NFLX
w  0.0  0.335755  0.013054  0.189134  0.462056  0.0   0.0   0.0

### Simulación 64

       UBER  MCD   HD  AAPL  WMT  CSCO      HSBC  BLK  ADBE        CP      PEP
w  0.324559  0.0  0.0   0.0  0.0   0.0  0.003754  0.0   0.0  0.123917  0.54777

### Simulación 65

,NKE,TMUS,ADBE,AMZN,HSBC,GE,PG,LULU,VZ,BAC,T,DPZ,CVX
w,0.0,0.077679,0.0,0.0,0.072667,0.283263,0.0,0.0,0.0,0.0,0.0,0.566391,0.0

### Simulación 66

,CVX,K,PFE,PG,CP,PYPL,FDX,HSBC,BLK,NKE,HP,WMT,ADBE
w,0.0,0.183088,0.0,0.034973,0.118639,0.0,0.010853,0.008245,0.0,0.0,0.0,0.0,0.644201

### Simulación 67

,CP,TSLA,JNJ,ADBE,META,PEP,AZN,AMZN,BLK,FDX,WBD
w,0.0,0.0,0.047039,0.080418,0.0,0.130666,0.0,0.182915,0.0,0.558962,0.0

### Simulación 68

        HSY       MCD  TMUS  HSBC      META  WBD     GOOGL  PYPL
w  0.079476  0.021894   0.0   0.0  0.199844  0.0  0.698787   0.0

### Simulación 69

    CP  SPOT        RL  FDX       HSY      BABA      ADBE      BLK
w  0.0   0.0  0.263886  0.0  0.203274  0.027942  0.126059  0.37884

### Simulación 70

    BX       GLD       HSY       AZN   PG  JNJ      NFLX       FDX  PYPL
w  0.0  0.300196  0.036651  0.529034  0.0  0.0  0.120237  0.013883   0.0

### Simulación 71

   DIS  JNJ         T   VZ   RL  PYPL      SPOT       XOM  CSCO  FDX       NKE
w  0.0  0.0  0.178189  0.0  0.0   0.0  0.067445  0.383009   0.0  0.0  0.371358

### Simulación 72

     T     NFLX  SBUX  DPZ  HSBC  CVX  NVDA  AXP     UBER   CP  COST   HP
w  0.0  0.46487   0.0  0.0   0.0  0.0   0.0  0.0  0.53513  0.0   0.0  0.0

### Simulación 73

   COST  CVX       HSY   HD  BLK  NVDA      SBUX  PEP   BX  PYPL    V
w   0.0  0.0  0.465497  0.0  0.0   0.0  0.534503  0.0  0.0   0.0  0.0

### Simulación 74

   JPM       FDX       JNJ  CVX       BAC   RL   KO       PEP
w  0.0  0.034628  0.402051  0.0  0.362277  0.0  0.0  0.201044

### Simulación 75

       CSCO  MSFT  JPM        MA       PFE  GOOGL       AZN    F  PYPL
w  0.020611   0.0  0.0  0.145866  0.242156    0.0  0.591367  0.0   0.0

### Simulación 76

,PYPL,PEP,AAPL,KO,BX,GE,AXP,BAC,MRNA,CSCO,UBER,TSLA,K,NFLX
w,0.001359,0.0,0.0,0.130869,0.0,0.201098,0.207089,0.0,0.107422,0.063975,0.0,0.0,0.288187,0.0

### Simulación 77

       CSCO      AXP  SBUX      AAPL   GE
w  0.597878  0.04215   0.0  0.359972  0.0

### Simulación 78

       GLD         T         V  CMG  BLK  JNJ
w  0.13614  0.344011  0.519849  0.0  0.0  0.0

### Simulación 79

   XOM         V  META   KO  AMZN      NFLX       WMT   GE        HD       JPM
w  0.0  0.207115   0.0  0.0   0.0  0.081772  0.132847  0.0  0.483722  0.094543

### Simulación 80

       PYPL  AZN  XOM       GLD      META   VZ       CVX  DPZ  JPM       AXP
w  0.130628  0.0  0.0  0.071819  0.517394  0.0  0.151431  0.0  0.0  0.128728

### Simulación 81

,PFE,GOOGL,T,SPOT,PG,NFLX,VZ,HSY,V,RL,AMZN
w,0.0,0.167849,0.0,0.191764,0.0,0.259461,0.150999,0.229927,0.0,0.0,0.0

### Simulación 82

     GOOGL       DIS  SPOT  TMUS  AXP   HD   RL  CSCO  PEP      COST        KO
w  0.05147  0.562946   0.0   0.0  0.0  0.0  0.0   0.0  0.0  0.111592  0.273991

### Simulación 83

,XOM,K,BX,FDX,UBER,CMG,WBD,DPZ,WMT,T,GOOGL,ADBE,BAC
w,0.0,0.0,0.185334,0.246414,0.0,0.0,0.0,0.048454,0.0,0.010923,0.0,0.413254,0.095622

### Simulación 84

,LULU,JPM,NKE,XOM,TMUS,PFE,AZN,GLD,CVX,HSBC,K,WMT,HD,F,AAPL
w,0.130016,0.0,0.0,0.0,0.331066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.235438,0.234966,0.068513

### Simulación 85

        AXP         V  NKE  CVX  NFLX         F  HSY  WBD  SBUX  BLK
w  0.414524  0.175593  0.0  0.0   0.0  0.409883  0.0  0.0   0.0  0.0

### Simulación 86

        CMG      AAPL       MCD  FDX  MSFT
w  0.448237  0.458035  0.093728  0.0   0.0

### Simulación 87

,MSFT,V,CVX,LULU,JPM,SPOT,ADBE,GE,MA,COST,DPZ,AMZN
w,0.0,0.0,0.683419,0.0,0.0,0.196252,0.0,0.0,0.0,0.0,0.120328,0.0

### Simulación 88

,BLK,GLD,CP,MRNA,KO,JPM,CVX,SBUX,UBER,V,DPZ
w,0.058375,0.0,0.0,0.047925,0.544303,0.166093,0.0,0.10814,0.0,0.075163,0.0

### Simulación 89

,MSFT,AAPL,F,GOOGL,K,LULU,DIS,MRNA,HSBC,PG,GLD,HP,VZ
w,0.244579,0.0,0.0,0.448473,0.012358,0.0,0.037594,0.089768,0.0,0.087566,0.079662,0.0,0.0

### Simulación 90

,XOM,BX,UBER,K,JPM,META,HSBC,MA,RL,AXP,AZN,HSY,HP
w,0.0,0.0,0.389255,0.0,0.0,0.0,0.0,0.213419,0.0,0.145538,0.0,0.071393,0.180395

### Simulación 91

,RL,META,BLK,GE,JNJ,HSBC,V,DPZ,AAPL,BABA,MA
w,0.461112,0.0,0.0,0.094828,0.340693,0.0,0.0,0.0,0.103366,0.0,0.0

### Simulación 92

,BLK,MRNA,CSCO,TMUS,HSBC,AMZN,XOM,SBUX,PYPL,GE,NFLX,AZN
w,0.0,0.0,0.0,0.0,0.208255,0.0,0.126203,0.139726,0.0,0.0,0.444846,0.080969

### Simulación 93

       COST       XOM  GOOGL  CSCO  JNJ  PEP   BX  CVX       NKE      UBER
w  0.143739  0.676284    0.0   0.0  0.0  0.0  0.0  0.0  0.049058  0.130919

### Simulación 94

,PG,BABA,BX,XOM,UBER,FDX,HP,PEP,CMG,AAPL,LULU,ADBE,JPM
w,0.236738,0.0,0.0,0.263367,0.333619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166276

### Simulación 95

,TSLA,HSBC,HD,AMZN,CP,LULU,MRNA,NFLX,JNJ,CMG,BX,HP,ADBE,BLK,XOM
w,0.0,0.0,0.0,0.149754,0.204809,0.0,0.0,0.0,0.0,0.0,0.0,0.116093,0.040963,0.285608,0.202773

### Simulación 96

   AAPL  META   PG   GE        MA  DPZ  ADBE  NVDA       BAC   HD
w   0.0   0.0  0.0  0.0  0.203385  0.0   0.0   0.0  0.796615  0.0

### Simulación 97

,NFLX,MSFT,BABA,NVDA,CP,COST,ADBE,HP,PFE,KO,META,PEP,AXP
w,0.0,0.0,0.0,0.465641,0.0,0.0,0.0,0.0,0.0,0.0,0.534359,0.0,0.0

### Simulación 98

,DIS,V,FDX,BLK,NFLX,JPM,HD,GOOGL,VZ,AAPL,MRNA,RL,SBUX
w,0.417378,0.0,0.0,0.066349,0.0,0.007457,0.108213,0.154793,0.167699,0.078111,0.0,0.0,0.0

### Simulación 99

       UBER    F  CSCO   KO   BX  JPM  MCD  SBUX       PFE
w  0.847048  0.0   0.0  0.0  0.0  0.0  0.0   0.0  0.152952

### Simulación 100

,VZ,META,MA,HSBC,MRNA,DPZ,GOOGL,SBUX,AZN,AAPL,BAC
w,0.537794,0.0,0.0,0.078936,0.015268,0.079505,0.0,0.122898,0.165599,0.0,0.0